/assets/node_modules/**/*
!/assets/node_modules/bootstrap
!/assets/node_modules/bootstrap/dist
!/assets/node_modules/bootstrap/dist/**/*
!/assets/node_modules/masonry-layout
!/assets/node_modules/masonry-layout/dist
!/assets/node_modules/masonry-layout/dist/**/*
!/assets/node_modules/photoswipe
!/assets/node_modules/photoswipe/dist
!/assets/node_modules/photoswipe/dist/**/*
!/assets/node_modules/jquery
!/assets/node_modules/jquery/dist
!/assets/node_modules/jquery/dist/**/*

# System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------

/thumbs/*
!/thumbs/index.html

/site/cache/*
!/site/cache/index.html

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Kirby accounts
# ---------------

/site/accounts/*
!/site/accounts/index.html

# Avatars
# ---------------

/assets/avatars/*
!/assets/avatars/index.html