[submodule "site/fields/gallery"]
	path = site/fields/gallery
	url = https://github.com/hdodov/kirby-gallery.git
	branch = master
[submodule "site/fields/fieldtoggle"]
	path = site/fields/fieldtoggle
	url = https://github.com/medienbaecker/kirby-fieldtoggle.git
