html {
    height: 100%;
}

body {
    padding-top: 1px;
    padding-bottom: 1px;
    height: 100%;
 
    color: $color-text-1;
    font-family: $font-family-1;
    font-size: 16px;
    line-height: 1.5;

    @media (max-width: #{1140px + $header-width * 2}) {
        padding-left: $header-width;
    }

    @include media-smaller("sm") {
        padding-left: 0;
        padding-top: $header-height-mobile;
    }
}

h1, h2 {
    letter-spacing: 1px;
}

h1, h2, h3 {
    color: $color-heading;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    position: absolute;
        left: -10000px;
}

.site-title {
    margin: 120px 0;
    font-size: 48px;
    line-height: 1.25;
    text-align: center;

    .slogan {
        display: block;
        font-size: 24px;
        font-weight: normal;
    }
}

main.container {
    margin-top: 40px;
    margin-bottom: 180px;
    padding: 0 30px; 
}

@include media-smaller("sm") {
    .site-title {
        margin: 50px 0;
        font-size: 30px;

        .slogan {
            font-size: 18px;
        }
    }

    main.container {
        margin-top: 30px;
        margin-bottom: 80px;
        padding: 0 15px;
    }
}