html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;

    color: $color-text-1;
    font-family: $font-family-1;
    font-size: 16px;
    line-height: 1.5;
}

h2 {
    letter-spacing: 1px;
}

.container-wrapper {
    flex: 1 1 auto;
    overflow: auto;

    &.center {
        display: flex;
        align-items: center;
        justify-content: center;

        .container {
            flex: 1 0 auto;
            max-height: 100%;
        }
    }

    &.limited {
        .container {
            max-width: 800px;
        }
    }
}

    .container {
        padding: 0 30px; 
    }

        .container-content {
            margin: 80px 0;
        }

.items-row {
    padding: 15px 0;

    .ratio-box {
        margin: 15px 0;
    }
}