html {
    height: 100%;
}

body {
    padding-top: 1px;
    padding-bottom: 1px;
    height: 100%;
 
    color: $color-text-1;
    font-family: $font-family-1;
    font-size: 16px;
    line-height: 1.5;

    @media (max-width: #{1140px + $header-width * 2}) {
        padding-left: $header-width;
    }

    @include media-smaller("sm") {
        padding-left: 0;
        padding-top: $header-height-mobile;
    }
}

h1, h2 {
    letter-spacing: 1px;
}

h1, h2, h3 {
    color: $color-heading;
}

.container-wrapper {
    height: 100%;

    &.center {
        display: flex;
        align-items: center;
        justify-content: center;

        .container-wrapper-inner {
            flex: 1 0 auto;
            max-height: 100%;
        }
    }
}

.container {
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 0 30px; 

    &.limited {
        max-width: 800px;
    }
}

.items-row {
    padding: 15px 0;

    .ratio-box {
        margin: 15px 0;
    }
}

@include media-smaller("sm") {
    .container {
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 0 15px;
    }

    .items-row {
        margin: 0 -7.5px;
        padding: 7.5px 0;

        & > div {
            padding: 0 7.5px;
        }

        .ratio-box {
            margin: 7.5px 0;
        }
    }
}