body.mobile-nav-active {
    overflow: hidden;
}

header {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: space-between;
    position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;

    width: $header-width;
    height: 100%;
    padding: 0 30px;
    background: $color-background-1;

    a {
        color: $color-text-1;
        transition: color $transition-menu-hover;

        &:hover {
            color: $color-text-active-1;
        }
    }

    .logo-container,
    .languages-container {
        display: block;
        margin: 30px 0;
    }

    .logo-container {
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    nav {
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li.is-active a {
                color: $color-text-active-1;
            }
        }

            a {
                display: block;
                padding: 10px 0;

                font-size: 20px;
                color: $color-text-1;

                &:hover {
                    text-decoration: none;
                }
            }
    }

    @include media-larger("xs") {
        .mobile-button {
            display: none;
        }

        .header-top,
        .header-content {
            flex: 1 0 auto;
        }

        .header-content {
            display: flex;
            flex-flow: column nowrap;
            align-items: stretch;
            justify-content: space-between;
        }
    }

    @include media-smaller("sm") {
        width: 100%;
        height: auto;
        max-height: 100%;
        padding: 0;

        user-select: none;
        pointer-events: none; // not absorb pointer events when content is hidden, but takes up space
        background: none;

        .logo-container {
            margin: 12px 0;

            img {
                max-width: none;
                height: 32px;
            }
        }

        .header-top {
            flex: 1 0 auto;
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            margin-right: -15px; // negate the padding so that mobile-button is aligned
            padding: 0 15px;
            position: relative;
                z-index: 10000;

            pointer-events: auto; // negate parent pointer-events:none

            background: $color-background-1;
            transition: box-shadow $transition-mobile-nav-shadow;
            box-shadow: $box-shadow-mobile-nav-top;
        }

            .mobile-button {
                padding: 12px 15px;
                outline: none;
            }

        .header-content {
            padding: 0 15px;
            overflow: auto;
            position: relative;
                z-index: 999;

            background: $color-background-1-light;
            text-align: right;

            transition: $transition-mobile-menu;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transform: translate(0, -100%);
            box-shadow: none;
        }

            nav {
                margin: 20px 0;

                ul {
                    margin: -10px 0;
                }

                a {
                    padding: 14px 0;
                    font-size: 16px;
                }
            }

            .languages-container {
                margin: 0;
                border-top: $border-mobile-nav;

                .languages {
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
            }

        &.is-active {
            .header-top {
                box-shadow: $box-shadow-mobile-nav-top-active;
            }

            .header-content {
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
                transform: translate(0, 0);
                box-shadow: $box-shadow-mobile-nav-content-active;
            }
        }
    }
}