header {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: space-between;
    width: $header-width;
    height: 100%;
    padding: 0 30px;

    position: fixed;
        top: 0;
        left: 0;

    background: $color-background-1;

    a {
        color: $color-text-1;
        transition: color $transition-menu-hover;

        &:hover {
            color: $color-text-active-1;
        }
    }

    .logo-container,
    .foot-container {
        margin: 30px 0;
    }

    .logo-container {
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    nav {
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            a {
                display: block;
                padding: 10px 0;

                font-size: 20px;
                color: $color-text-1;

                &:hover {
                    text-decoration: none;
                }
            }

            li.is-active a {
                color: $color-text-active-1;
            }
        }
    }

    .foot-container {
        font-size: 12px;

        p {
            margin: 0;
        }

        .languages {
            margin-top: 30px;
        }
    }
}