@import 'modules/_config';
@import 'modules/_media-smart';

@import 'entities/_link-grid';
@import 'entities/_masonry-grid';
@import 'entities/_photoswipe';
@import 'entities/_ratio-box';
@import 'entities/_tag-box';
@import 'entities/_tag-cloud';
@import 'entities/_hamburger';

@import 'partials/_elements';
@import 'partials/_general';
@import 'partials/_header';
@import 'partials/_languages';

@include media-smaller("sm") {
    .page-about {
        .masonry-grid-wrapper {
            margin: 100px auto;
        }
    }
}

.team-container {
    margin-bottom: -40px;
}

.team-member {
    margin-bottom: 30px;

    .image-wrapper {
        margin-bottom: 15px;
        padding-bottom: 56.25%;
        position: relative;

        .image-container {
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            width: 100%;
            height: 100%;
            position: absolute;
                top: 0;
                left: 0;

            border-radius: 2px;
            background: $color-placeholder;

            img {
                width: 100%;
            }
        }
    }

    .head {
        margin-bottom: 15px;

        .name {
            margin: 0;
            font-size: 24px;
        }

        .title {
            margin: 0;
            color: $color-text-2;
        }
    }
}

.google-map {
    width: 100%;
    padding-top: 56.25%;
}

.icon-links-list {
    margin: -20px 0;
    padding: 0;
    list-style-type: none;

    li {
        margin: 20px 0;

        a {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            text-decoration: none;

            color: $color-text-1;
            transition: color $transition-icon-link-list-hover;

            .icon-container {
                border-color: $color-text-1;
                transition: border-color $transition-icon-link-list-hover;
            }

            &:hover {
                color: $color-text-2;

                .icon-container {
                    border-color: $color-text-2;
                }
            }
        }
    }

            .icon-container {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 44px;
                height: 44px;
                margin-right: 12px;

                border-radius: 50%;
                border: 1px solid;

                i {
                    font-size: 16px;
                }
            }
}