$header-width: 265px;
$header-height-mobile: 56px;

$color-white: #ffffff;
$color-black: #000000;

$color-main-1: #0e6cce;
$color-background-1: #242424;
$color-background-1-light: #313131;
$color-placeholder: #efefef;
$color-heading: #3e3e3e;
$color-menu-text: #888888;
$color-text-1: #333333;
$color-text-2: #989898;
$color-text-active-1: #ffffff;
$color-success: #1cc71c;
$color-error: #cc1414;

$font-family-1: Montserrat, 'Helvetica Neue', Arial, sans-serif;

$transition-1: 0.16s ease-out;
$transition-grid-fade: $transition-1;
$transition-grid-items-fade: 0.3s ease;
$transition-grid-items-scale: 0.4s cubic-bezier(0.27, 0.73, 0.25, 1);
$transition-menu-hover: $transition-1;
$transition-tag-box: 0.4s cubic-bezier(0.27, 0.73, 0.25, 1);
$transition-tag-hover: 0.1s ease;
$transition-icon-link-list-hover: $transition-1;
$transition-form-border: $transition-1;
$transition-form-button: $transition-1;

$transition-mobile-nav-shadow: 0.4s ease;
$transition-mobile-menu-slide: 0.4s cubic-bezier(0.07, 0.97, 0.3, 1);
$transition-mobile-menu-fade: 0.25s ease;
$transition-mobile-menu:
    visibility 0.4s linear,
    box-shadow $transition-mobile-nav-shadow,
    transform $transition-mobile-menu-slide,
    opacity $transition-mobile-menu-fade;

$box-shadow-mobile-nav-top: 0 0px 8px 0 rgba(0, 0, 0, 0.6);
$box-shadow-mobile-nav-top-active: 0 2px 8px 0 rgba(0, 0, 0, 0.6);
$box-shadow-mobile-nav-content-active: 0px 0px 6px 0 #000;

$border-mobile-nav: 1px solid rgba(#fff, 0.1);