@charset "UTF-8";
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 12px 12px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }

.hamburger-box {
  width: 24px;
  height: 14px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 24px;
    height: 2px;
    background-color: #fff;
    border-radius: 2px;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -6px; }
  .hamburger-inner::after {
    bottom: -6px; }

/*
   * Slider Reverse
   */
.hamburger--slider-r .hamburger-inner {
  top: 1px; }
  .hamburger--slider-r .hamburger-inner::before {
    top: 6px;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s; }
  .hamburger--slider-r .hamburger-inner::after {
    top: 12px; }

.hamburger--slider-r.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, 6px, 0) rotate(-45deg);
          transform: translate3d(0, 6px, 0) rotate(-45deg); }
  .hamburger--slider-r.is-active .hamburger-inner::before {
    -webkit-transform: rotate(45deg) translate3d(3.42857px, -4px, 0);
            transform: rotate(45deg) translate3d(3.42857px, -4px, 0);
    opacity: 0; }
  .hamburger--slider-r.is-active .hamburger-inner::after {
    -webkit-transform: translate3d(0, -12px, 0) rotate(90deg);
            transform: translate3d(0, -12px, 0) rotate(90deg); }

.hamburger-box {
  display: block; }

.icon-links-list {
  margin: -15px 0;
  padding: 0;
  list-style-type: none; }
  .icon-links-list li {
    margin: 15px 0; }
    .icon-links-list li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      text-decoration: none;
      color: #333333;
      -webkit-transition: color 0.16s ease-out;
      transition: color 0.16s ease-out; }
      .icon-links-list li a .icon-container {
        border-color: #333333;
        -webkit-transition: border-color 0.16s ease-out;
        transition: border-color 0.16s ease-out; }
      .icon-links-list li a:hover {
        color: #989898; }
        .icon-links-list li a:hover .icon-container {
          border-color: #989898; }
  .icon-links-list .icon-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 44px;
    height: 44px;
    margin-right: 15px;
    border-radius: 50%;
    border: 1px solid; }
    .icon-links-list .icon-container i {
      font-size: 16px; }

.languages {
  margin: -5px;
  padding: 0;
  font-size: 12px;
  list-style-type: none; }
  .languages li {
    display: inline-block; }
    .languages li + li:before {
      content: '·';
      display: inline-block;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      color: #989898; }
    .languages li a {
      padding: 5px;
      text-decoration: none; }

.link-grid .item-link {
  text-decoration: none; }

.link-grid .masonry-item {
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.5); }
  .link-grid .masonry-item.no-image .masonry-item-content {
    position: relative; }

.link-grid .masonry-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 20;
  color: #ffffff;
  text-align: center; }
  .link-grid .masonry-item-content:before {
    content: '';
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.8)));
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8)); }

.link-grid .title {
  margin: 40px 0;
  position: relative;
  line-height: 1.25;
  letter-spacing: 1px;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8); }

@media (max-width: 1199px) {
  .link-grid .masonry-item .title {
    margin: 20px 0;
    font-size: 18px;
    font-weight: normal; } }

@media (max-width: 767px) {
  .link-grid .masonry-item-content {
    position: relative;
    background: #242424; }
    .link-grid .masonry-item-content:before {
      display: none; }
    .link-grid .masonry-item-content .title {
      margin: 10px 0;
      font-size: 16px; } }

.google-map {
  width: 100%;
  padding-top: 56.25%;
  border: 1px solid #eaeaea; }
  @media (max-width: 767px) {
    .google-map {
      width: auto;
      height: 100vh;
      height: calc(100vh - 56px);
      margin: 0 -15px;
      border-left: none;
      border-right: none; } }
  @media (min-width: 768px) {
    .google-map {
      border-radius: 2px;
      -webkit-box-shadow: 0 3px 4px -2px rgba(0, 0, 0, 0.4);
              box-shadow: 0 3px 4px -2px rgba(0, 0, 0, 0.4); } }

.masonry-grid-wrapper {
  margin: 60px 0; }

.masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -15px;
  -webkit-transition: visibility 0.16s ease-out, opacity 0.16s ease-out;
  transition: visibility 0.16s ease-out, opacity 0.16s ease-out;
  visibility: hidden;
  opacity: 0; }
  .masonry-grid[data-items="2"] .masonry-item-wrapper {
    width: 50%; }
  .masonry-grid.is-laid {
    visibility: visible;
    opacity: 1; }
  .masonry-grid.medium {
    margin: -7px; }
    .masonry-grid.medium .masonry-item-wrapper {
      padding: 7px; }
  .masonry-grid.large {
    margin: -2px; }
    .masonry-grid.large .masonry-item-wrapper {
      width: 20%;
      padding: 2px; }
      .masonry-grid.large .masonry-item-wrapper .masonry-item {
        border-radius: 0; }

.masonry-item-wrapper {
  display: block;
  width: 33.3%;
  margin: 0;
  padding: 15px; }
  .masonry-item-wrapper:hover .masonry-item:before {
    opacity: 0; }
  .masonry-item-wrapper:hover img {
    -webkit-transform: scale(1.04) translate3d(0, 0, 0);
            transform: scale(1.04) translate3d(0, 0, 0); }

.masonry-item {
  display: block;
  margin: 0;
  overflow: hidden;
  position: relative;
  border-radius: 2px; }
  .masonry-item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.3;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; }
  .masonry-item img {
    width: 100%;
    position: relative;
    z-index: 10;
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.27, 0.73, 0.25, 1);
    transition: -webkit-transform 0.4s cubic-bezier(0.27, 0.73, 0.25, 1);
    transition: transform 0.4s cubic-bezier(0.27, 0.73, 0.25, 1);
    transition: transform 0.4s cubic-bezier(0.27, 0.73, 0.25, 1), -webkit-transform 0.4s cubic-bezier(0.27, 0.73, 0.25, 1); }

@media (max-width: 991px) {
  .masonry-grid.large .masonry-item-wrapper {
    width: 25%; } }

@media (max-width: 767px) {
  .masonry-grid-wrapper {
    margin: 40px 0; }
  .masonry-grid {
    margin: -7px; }
    .masonry-grid.large {
      margin: -2px; }
      .masonry-grid.large .masonry-item-wrapper {
        width: 33.3%; }
  .masonry-item-wrapper {
    width: 50%;
    padding: 7px; }
    .masonry-item-wrapper .masonry-item:before {
      display: none; } }

.pswp {
  pointer-events: none; }
  .pswp.pswp--animated-in {
    pointer-events: auto; }
  .pswp .pswp__button {
    outline: none; }
  .pswp .pswp__counter {
    padding: 0 16px;
    font-weight: 600; }
  .pswp:not(.pswp--zoomed-in) .pswp__button--arrow--left,
  .pswp:not(.pswp--zoomed-in) .pswp__button--arrow--right {
    width: 30%;
    height: 80%;
    height: calc(100% - 44px);
    top: auto;
    bottom: 0;
    outline: none; }
    .pswp:not(.pswp--zoomed-in) .pswp__button--arrow--left:before,
    .pswp:not(.pswp--zoomed-in) .pswp__button--arrow--right:before {
      top: 50%;
      margin-top: -22px;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%); }
  .pswp .pswp__caption__center {
    max-width: 40em;
    padding: 14px 20px 15px 20px;
    font-size: 14px;
    text-align: center;
    line-height: 1.5; }

.ratio-box {
  position: relative; }
  .ratio-box:before {
    content: '';
    display: block;
    padding-top: 100%; }
  .ratio-box.wide:before {
    padding-top: 56.25%; }
  .ratio-box .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  position: relative; }

.circular {
  width: 100%;
  height: 100%;
  margin: auto;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite; }

.path {
  -webkit-animation: dash 1.5s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-width: 4px;
  stroke: #fff; }

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px; } }

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px; } }

.team-member .image-wrapper {
  margin-bottom: 15px;
  padding-bottom: 56.25%;
  position: relative; }
  .team-member .image-wrapper .image-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2px;
    background: #efefef; }
    .team-member .image-wrapper .image-container img {
      width: 100%; }

.team-member .head {
  margin-bottom: 15px; }
  .team-member .head .name {
    margin: 0;
    font-size: 24px; }
  .team-member .head .title {
    margin: 0;
    color: #989898; }

.team-member .text p:last-child {
  margin-bottom: 0; }

@media (max-width: 767px) {
  .team-member + .team-member {
    margin-top: 60px; } }

html {
  height: 100%; }

body {
  padding-top: 1px;
  padding-bottom: 1px;
  height: 100%;
  color: #333333;
  font-family: Montserrat, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5; }
  @media (max-width: 1670px) {
    body {
      padding-left: 265px; } }
  @media (max-width: 767px) {
    body {
      padding-left: 0;
      padding-top: 56px; } }

h1, h2, h3 {
  color: #3e3e3e; }

.gallery {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .gallery figure, .gallery figure a {
    cursor: -webkit-zoom-in;
    cursor: zoom-in; }

.hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: -10000px; }

form {
  margin: -15px 0; }
  form .form-control {
    display: block;
    width: 100%;
    margin: 15px 0;
    padding: 8px 12px 6px 12px;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    -webkit-transition: border-color 0.16s ease-out;
    transition: border-color 0.16s ease-out; }
    form .form-control::-webkit-input-placeholder {
      color: #b5b5b5; }
    form .form-control:-ms-input-placeholder {
      color: #b5b5b5; }
    form .form-control::-ms-input-placeholder {
      color: #b5b5b5; }
    form .form-control::placeholder {
      color: #b5b5b5; }
    form .form-control:focus {
      outline: none;
      border-color: #242424; }
  form textarea.form-control {
    height: 112px; }
  form button {
    display: block;
    width: 100%;
    margin: 15px 0;
    padding: 12px 20px;
    position: relative;
    border: none;
    background: #242424;
    color: #ffffff;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
    form button:hover {
      cursor: pointer;
      background: #3e3e3e;
      -webkit-box-shadow: none;
              box-shadow: none; }
    form button:focus {
      outline: none;
      background: #4a4a4a; }
    form button i, form button .spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    form button .button-text,
    form button .when-success,
    form button .when-error,
    form button .when-waiting {
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    form button:not(.is-success) .when-success,
    form button:not(.is-error) .when-error,
    form button:not(.is-waiting) .when-waiting {
      pointer-events: none;
      visibility: hidden;
      opacity: 0; }
    form button.is-success .button-text, form button.is-error .button-text, form button.is-waiting .button-text {
      visibility: hidden;
      opacity: 0; }
    form button.is-success {
      background: #198e2e; }
    form button.is-error {
      background: #bd1414; }
    form button.is-waiting {
      background: #1379c3; }
  @media (min-width: 1200px) {
    form .input-row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin: 15px 0; }
      form .input-row .form-control {
        margin: 0; }
        form .input-row .form-control + .form-control {
          margin-left: 15px; } }

main.container {
  margin-top: 40px;
  margin-bottom: 180px;
  padding: 0 30px; }

.page-head {
  margin-top: 100px;
  margin-bottom: 60px; }
  .page-head .title {
    font-size: 36px;
    text-align: center; }
  .page-head .text {
    max-width: 40em;
    margin: 50px auto; }

.page-content {
  margin-top: 60px;
  margin-bottom: 60px; }

.site-title {
  margin: 120px 0;
  font-size: 48px;
  line-height: 1.25;
  text-align: center; }
  .site-title .slogan {
    display: block;
    font-size: 24px;
    font-weight: normal; }

@media (max-width: 767px) {
  main.container {
    margin-top: 30px;
    margin-bottom: 80px;
    padding: 0 15px; }
  .page-head {
    margin: 40px 0; }
    .page-head .title {
      font-size: 24px; }
    .page-head .text {
      margin: 30px auto; }
  .site-title {
    margin: 50px 0;
    font-size: 30px; }
    .site-title .slogan {
      font-size: 18px; } }

body.mobile-nav-active {
  overflow: hidden; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 265px;
  height: 100%;
  padding: 0 30px;
  background: #242424; }
  header a {
    color: #888888;
    -webkit-transition: color 0.16s ease-out;
    transition: color 0.16s ease-out; }
    header a:hover {
      color: #ffffff; }
  header .logo-container,
  header .languages-container {
    display: block;
    margin: 30px 0; }
  header .logo-container img {
    max-width: 100%;
    max-height: 100%; }
  header nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    header nav ul li.is-active a {
      color: #ffffff; }
  header nav a {
    display: block;
    padding: 10px 0;
    font-size: 20px;
    color: #888888; }
    header nav a:hover {
      text-decoration: none; }
  @media (min-width: 768px) {
    header .mobile-button {
      display: none; }
    header .header-top,
    header .header-content {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto; }
    header .header-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  @media (max-width: 767px) {
    header {
      width: 100%;
      height: auto;
      max-height: 100%;
      padding: 0;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      pointer-events: none;
      background: none; }
      header .logo-container {
        margin: 12px 0; }
        header .logo-container img {
          max-width: none;
          height: 32px; }
      header .header-top {
        -webkit-box-flex: 1;
            -ms-flex: 1 0 auto;
                flex: 1 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-right: -15px;
        padding: 0 15px;
        position: relative;
        z-index: 10000;
        pointer-events: auto;
        background: #242424;
        -webkit-transition: -webkit-box-shadow 0.4s ease;
        transition: -webkit-box-shadow 0.4s ease;
        transition: box-shadow 0.4s ease;
        transition: box-shadow 0.4s ease, -webkit-box-shadow 0.4s ease;
        -webkit-box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.6);
                box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.6); }
      header .mobile-button {
        padding: 12px 15px;
        outline: none; }
      header .header-content {
        padding: 0 15px;
        overflow: auto;
        position: relative;
        z-index: 999;
        background: #313131;
        text-align: right;
        -webkit-transition: visibility 0.4s linear, opacity 0.25s ease, -webkit-box-shadow 0.4s ease, -webkit-transform 0.4s cubic-bezier(0.07, 0.97, 0.3, 1);
        transition: visibility 0.4s linear, opacity 0.25s ease, -webkit-box-shadow 0.4s ease, -webkit-transform 0.4s cubic-bezier(0.07, 0.97, 0.3, 1);
        transition: visibility 0.4s linear, box-shadow 0.4s ease, transform 0.4s cubic-bezier(0.07, 0.97, 0.3, 1), opacity 0.25s ease;
        transition: visibility 0.4s linear, box-shadow 0.4s ease, transform 0.4s cubic-bezier(0.07, 0.97, 0.3, 1), opacity 0.25s ease, -webkit-box-shadow 0.4s ease, -webkit-transform 0.4s cubic-bezier(0.07, 0.97, 0.3, 1);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        -webkit-transform: translate(0, -100%);
                transform: translate(0, -100%);
        -webkit-box-shadow: none;
                box-shadow: none; }
      header nav {
        margin: 20px 0; }
        header nav ul {
          margin: -10px 0; }
        header nav a {
          padding: 14px 0;
          font-size: 16px; }
      header .languages-container {
        margin: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.1); }
        header .languages-container .languages {
          margin-top: 20px;
          margin-bottom: 20px; }
      header.is-active .header-top {
        -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.6);
                box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.6); }
      header.is-active .header-content {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
        -webkit-box-shadow: 0px 0px 6px 0 #000000;
                box-shadow: 0px 0px 6px 0 #000000; } }

@media (max-width: 767px) {
  body.about .masonry-grid-wrapper {
    margin: 100px auto; }
  body.contacts main {
    margin-bottom: 0; }
    body.contacts main .google-map {
      border-bottom: 0; } }

.row-contacts {
  margin-top: 60px;
  margin-bottom: 80px; }
  @media (max-width: 991px) {
    .row-contacts > div + div {
      margin-top: 40px; } }

.row-team {
  margin-top: 40px;
  margin-bottom: 60px; }
