@charset "UTF-8";
.masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: -15px; }
  .masonry-grid .masonry-item {
    width: 33.33%;
    display: inline-block; }
    .masonry-grid .masonry-item .masonry-item-content {
      margin: 15px;
      border-radius: 2px;
      overflow: hidden;
      position: relative; }
      .masonry-grid .masonry-item .masonry-item-content:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 11;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.3;
        -webkit-transition: opacity 0.2s ease-out;
        transition: opacity 0.2s ease-out; }
      .masonry-grid .masonry-item .masonry-item-content img {
        width: 100%;
        position: relative;
        z-index: 10;
        -webkit-transition: -webkit-transform 0.2s ease-out;
        transition: -webkit-transform 0.2s ease-out;
        transition: transform 0.2s ease-out;
        transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out; }
      .masonry-grid .masonry-item .masonry-item-content:hover:before {
        opacity: 0; }
      .masonry-grid .masonry-item .masonry-item-content:hover img {
        -webkit-transform: scale(1.06);
                transform: scale(1.06); }

.pswp {
  pointer-events: none; }
  .pswp.pswp--animated-in {
    pointer-events: auto; }
  .pswp .pswp__button {
    outline: none; }
  .pswp .pswp__counter {
    padding: 0 16px;
    font-weight: 600; }
  .pswp:not(.pswp--zoomed-in) .pswp__button--arrow--left,
  .pswp:not(.pswp--zoomed-in) .pswp__button--arrow--right {
    width: 30%;
    height: 80%;
    height: calc(100% - 44px);
    top: auto;
    bottom: 0;
    outline: none; }
    .pswp:not(.pswp--zoomed-in) .pswp__button--arrow--left:before,
    .pswp:not(.pswp--zoomed-in) .pswp__button--arrow--right:before {
      top: 50%;
      margin-top: -22px;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%); }
  .pswp .pswp__caption__center {
    max-width: 40em;
    padding: 14px 20px 15px 20px;
    font-size: 14px;
    text-align: center;
    line-height: 1.5; }

.ratio-box {
  position: relative; }
  .ratio-box:before {
    content: '';
    display: block;
    padding-top: 100%; }
  .ratio-box .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.tag-box {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.27, 0.73, 0.25, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.27, 0.73, 0.25, 1);
  transition: transform 0.4s cubic-bezier(0.27, 0.73, 0.25, 1);
  transition: transform 0.4s cubic-bezier(0.27, 0.73, 0.25, 1), -webkit-transform 0.4s cubic-bezier(0.27, 0.73, 0.25, 1);
  border-radius: 4px;
  overflow: hidden; }
  .tag-box:hover {
    -webkit-transform: translate(0, -2px);
            transform: translate(0, -2px); }
    .tag-box:hover .wrapper {
      -webkit-box-shadow: inset 0 0 100px 0 rgba(0, 0, 0, 0.3);
              box-shadow: inset 0 0 100px 0 rgba(0, 0, 0, 0.3); }
      .tag-box:hover .wrapper:before {
        opacity: 0.5; }
    .tag-box:hover .content {
      -webkit-transform: translate(0, -2px);
              transform: translate(0, -2px);
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); }
  .tag-box .wrapper {
    -webkit-transition: -webkit-box-shadow 0.4s cubic-bezier(0.27, 0.73, 0.25, 1);
    transition: -webkit-box-shadow 0.4s cubic-bezier(0.27, 0.73, 0.25, 1);
    transition: box-shadow 0.4s cubic-bezier(0.27, 0.73, 0.25, 1);
    transition: box-shadow 0.4s cubic-bezier(0.27, 0.73, 0.25, 1), -webkit-box-shadow 0.4s cubic-bezier(0.27, 0.73, 0.25, 1); }
    .tag-box .wrapper:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      background: #000;
      opacity: 0.75;
      -webkit-transition: opacity 0.4s cubic-bezier(0.27, 0.73, 0.25, 1);
      transition: opacity 0.4s cubic-bezier(0.27, 0.73, 0.25, 1); }
  .tag-box .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    text-align: center;
    -webkit-transition: all 0.4s cubic-bezier(0.27, 0.73, 0.25, 1);
    transition: all 0.4s cubic-bezier(0.27, 0.73, 0.25, 1); }
  .tag-box .title {
    color: #fff; }

.tag-cloud {
  margin: 20px 0; }
  .tag-cloud ul {
    margin: -4px;
    padding: 0;
    list-style-type: none; }
  .tag-cloud li {
    display: inline-block;
    padding: 4px;
    font-size: 14px; }
    .tag-cloud li.is-active a {
      color: #dde1ec;
      background: #094686;
      -webkit-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.8);
              box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.8); }
  .tag-cloud a {
    display: inline-block;
    padding: 4px 10px 3px 10px;
    color: #fff;
    background: #0e6cce;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    -webkit-transition: background 0.1s ease;
    transition: background 0.1s ease; }
    .tag-cloud a:hover {
      background: #1680ef;
      text-decoration: none; }

html {
  height: 100%; }

body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #888888;
  font-family: Montserrat, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5; }

h1, h2 {
  letter-spacing: 1px; }

h1, h2, h3 {
  color: #3e3e3e; }

.container-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: auto; }
  .container-wrapper.center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .container-wrapper.center .container {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto;
      max-height: 100%; }
  .container-wrapper.limited .container {
    max-width: 800px; }

.container {
  padding: 0 30px; }

.container-content {
  margin: 80px 0; }

.items-row {
  padding: 15px 0; }
  .items-row .ratio-box {
    margin: 15px 0; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 265px;
  height: 100%;
  padding: 0 30px;
  background: #242424; }
  @media (min-width: 1670px) {
    header {
      position: fixed; } }
  header a {
    color: #888888;
    -webkit-transition: color 0.16s ease-out;
    transition: color 0.16s ease-out; }
    header a:hover {
      color: #ffffff; }
  header .logo-container,
  header .foot-container {
    margin: 30px 0; }
  header .logo-container img {
    max-width: 100%;
    max-height: 100%; }
  header nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    header nav ul a {
      display: block;
      padding: 10px 0;
      font-size: 20px;
      color: #888888; }
      header nav ul a:hover {
        text-decoration: none; }
    header nav ul li.is-active a {
      color: #ffffff; }
  header .foot-container {
    font-size: 12px; }
    header .foot-container p {
      margin: 0; }
    header .foot-container .languages {
      margin-top: 30px; }

.languages {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .languages li {
    display: inline-block; }
    .languages li + li:before {
      content: '·';
      display: inline-block;
      margin: 0 2px;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none; }
    .languages li a {
      text-decoration: underline; }

.page-head {
  margin-top: 80px;
  margin-bottom: 20px;
  text-align: center; }
  .page-head .title {
    font-size: 36px;
    text-align: center; }

.page-text {
  margin: 50px 0; }

.gallery {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .gallery figure {
    cursor: -webkit-zoom-in;
    cursor: zoom-in; }
