@charset "UTF-8";
html {
  height: 100%; }

body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #888888;
  font-family: Montserrat, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5; }

h2 {
  letter-spacing: 1px; }

.container {
  padding: 0 30px; }

.container-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  overflow: auto; }
  .container-wrapper.center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .container-wrapper.center .container {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto;
      max-height: 100%; }
  .container-wrapper.items-wrapper .row {
    padding: 15px 0; }
  .container-wrapper.items-wrapper .ratio-box {
    margin: 15px 0; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 265px;
  height: 100%;
  padding: 0 30px;
  background: #242424; }
  @media (min-width: 1670px) {
    header {
      position: fixed; } }
  header a {
    color: #888888;
    -webkit-transition: color 0.16s ease-out;
    transition: color 0.16s ease-out; }
    header a:hover {
      color: #ffffff; }
  header .logo-container,
  header .foot-container {
    margin: 30px 0; }
  header .logo-container img {
    max-width: 100%;
    max-height: 100%; }
  header nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    header nav ul a {
      display: block;
      padding: 10px 0;
      font-size: 20px;
      color: #888888; }
      header nav ul a:hover {
        text-decoration: none; }
    header nav ul li.is-active a {
      color: #ffffff; }
  header .foot-container {
    font-size: 12px; }
    header .foot-container p {
      margin: 0; }
    header .foot-container .languages {
      margin-top: 30px; }

.languages {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .languages li {
    display: inline-block; }
    .languages li + li:before {
      content: '·';
      display: inline-block;
      margin: 0 2px;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none; }
    .languages li a {
      text-decoration: underline; }

main .title {
  margin-top: 80px;
  margin-bottom: 20px;
  font-size: 36px;
  text-align: center;
  color: #3e3e3e; }

.ratio-box {
  position: relative; }
  .ratio-box:before {
    content: '';
    display: block;
    padding-top: 100%; }
  .ratio-box .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.tag-box {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.27, 0.73, 0.25, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.27, 0.73, 0.25, 1);
  transition: transform 0.4s cubic-bezier(0.27, 0.73, 0.25, 1);
  transition: transform 0.4s cubic-bezier(0.27, 0.73, 0.25, 1), -webkit-transform 0.4s cubic-bezier(0.27, 0.73, 0.25, 1);
  border-radius: 4px;
  overflow: hidden; }
  .tag-box:hover {
    -webkit-transform: translate(0, -2px);
            transform: translate(0, -2px); }
    .tag-box:hover .wrapper {
      -webkit-box-shadow: inset 0 0 100px 0 rgba(0, 0, 0, 0.3);
              box-shadow: inset 0 0 100px 0 rgba(0, 0, 0, 0.3); }
      .tag-box:hover .wrapper:before {
        opacity: 0.6; }
    .tag-box:hover .content {
      -webkit-transform: translate(0, -2px);
              transform: translate(0, -2px);
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); }
  .tag-box .wrapper {
    -webkit-transition: -webkit-box-shadow 0.4s cubic-bezier(0.27, 0.73, 0.25, 1);
    transition: -webkit-box-shadow 0.4s cubic-bezier(0.27, 0.73, 0.25, 1);
    transition: box-shadow 0.4s cubic-bezier(0.27, 0.73, 0.25, 1);
    transition: box-shadow 0.4s cubic-bezier(0.27, 0.73, 0.25, 1), -webkit-box-shadow 0.4s cubic-bezier(0.27, 0.73, 0.25, 1); }
    .tag-box .wrapper:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      background: #000;
      opacity: 0.75;
      -webkit-transition: opacity 0.4s cubic-bezier(0.27, 0.73, 0.25, 1);
      transition: opacity 0.4s cubic-bezier(0.27, 0.73, 0.25, 1); }
  .tag-box .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    text-align: center;
    -webkit-transition: all 0.4s cubic-bezier(0.27, 0.73, 0.25, 1);
    transition: all 0.4s cubic-bezier(0.27, 0.73, 0.25, 1); }
